@page "{id}"
@model ProjectCrudWebApp.Pages.Appointments.DeleteModel
@{
}
<h3>  Delete Your Token-(@Model.Id) ? </h3>
<br/>
<form method="post" class="text-center">
    <div class="form-group">
        <h5> Are you sure you want to Cancel Your Appointment?</h5>
    </div>
    <div class = "form-group">
        <h6 class = "text-success" >@Model.SuccessMessage </h6>
        <h6 class = "text-success" >@Model.ErrorMessage</h6>
        <h5 class="text-danger">@Html.ValidationSummary()</h5>
    </div>
    <div>
       
         @if (Model.ShowButton)
        {
            <button type="submit" class="btn btn-danger col-sm-3">Yes</button>        
            <a href="/Appointments/List" class="btn btn-light col-sm-3" role="button">No</a>
        }
       else{
            <a href="/Appointments/List" class="btn btn-primary col-sm-3" role="button">Go Back</a>
       }
    </div>
</form>

